body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    overflow-x:hidden;
}
h1 {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 30px;
}
h2 {
    text-transform: uppercase;
    font-size: 22px;
    padding-top: 15px;
}
h3 {
    font-size: 22px;
    margin: 5px 0 0 0px;
    line-height: 25px;
}
hr {
    border-color: #dadada;
}

/* iPhone Fixes */
input, 
textarea, 
button {
    outline:none!important;
    background:none;
    border-radius:0;
    box-shadow:0!important;
    -webkit-appearance: none!important;
}
* { 
    outline:none!important;	
}
::selection { 
    color:#ffffff; 
    opacity:1;
}
::-moz-selection { 
    color:#ffffff; 
    opacity:1;
}

/* Header */
.navbar-inverse .navbar-inner {
    background-image: none;
}
.navbar-fixed-top .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
.navbar .btn-navbar {
    margin-right: 20px;
}
.navbar .brand {
    padding: 31px 0 0 32px;
    margin-left: 0px;
}
.navbar .nav {
    margin: 0px;
}
.navbar .nav li {
    position: relative;
}
.navbar-inverse .nav > li > a {
    color: #7d7d7d;
    text-transform: uppercase;
    font-size: 13px;
    border-left: solid 1px #363636;
    text-shadow: none;
    padding: 40px 20px;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
    background-color: #2a2a2a;
    color: #7d7d7d;
    transition: all 300ms; 
    -webkit-transition:all 300ms; 
    -moz-transition:all 300ms; 
    -o-transition:all 300ms;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
    color: #7d7d7d;
    background-color: #2a2a2a;
}
header nav ul.nav li ul.sub-menu,
header nav ul.nav li ul.sub-menu li ul.sub-menu {
    display:none;
}
header nav ul.sub-menu { 
    display:block;
    position:absolute;
    top:100px;
    left:50%;
    margin-left:-83px;
    width:166px;
    padding:0;
    z-index:99;
}
header nav ul.sub-menu:before {
    content:'';
    position:absolute;
    left:79px;
    top:-5px;
    display:block;
    background: url("../images/submenu_mark.png") no-repeat center;	
    width:9px;
    height:5px;
}
header nav ul.sub-menu li ul.sub-menu:before {
    display:none!important;
}
header nav ul.sub-menu li {
    display:block;
    text-align:left;
    width:100%;
}
header nav ul.sub-menu li,
header nav ul.sub-menu li ul.sub-menu li {
    position:relative!important;
    height:auto!important;
    min-height:38px!important;
    margin:0!important;
    padding:0!important;
    border-bottom:#2a2a2a 1px solid;
}
ul.sub-menu li:first-child {
    border-top:none!important;
}
header nav ul.sub-menu li a,
header nav ul.sub-menu li ul.sub-menu li a {
    padding:10px 10px!important;
    color:#7d7d7d!important;
    text-align:center;
    display:block;
    text-transform:none;
    background:#363636!important;
    height:auto!important;
    margin:0!important;
    opacity: 1!important;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)!important;
    transition: all 300ms;
    -webkit-transition: all 300ms; 
    -moz-transition: all 300ms; 
    -o-transition: all 300ms;	
}
header nav ul.sub-menu li a:hover, 
header nav ul.sub-menu li.current-menu-item a,
header nav ul.sub-menu li:hover ul.sub-menu li:hover a,
header nav ul.sub-menu li:hover ul.sub-menu li.current-menu-item a {
    color:#1b1b1b!important;
    text-decoration: none;
    transition: all 300ms;
    -webkit-transition: all 300ms; 
    -moz-transition: all 300ms; 
    -o-transition: all 300ms;
}
header nav ul.sub-menu li ul.sub-menu { 
    display:block;
    position:absolute;
    left:165px!important;
    top:0px!important;
    margin-left:0!important;
    border-left:#2a2a2a 1px solid;
}

/* MobileMenu */
header .mobile_menu_wrapper {
    display:none;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
}
header ul.mobile_menu:before {
    content:'';
    position:absolute;
    left:50%;
    top:-5px;
    display:block;
    width:9px;
    height:5px;
    background: url("../images/submenu_mark.png") no-repeat center;
}
header ul.mobile_menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: #363636;
}
header ul.mobile_menu li {
    display:block;
    text-align:left;
    width:100%;
    border-bottom:#2a2a2a 1px solid;
}
header ul.mobile_menu li:last-child {
    border-bottom: none!important;
}
header ul.mobile_menu ul.sub-menu li,
header ul.mobile_menu ul.sub-menu li ul.sub-menu li {
    margin:0!important;
    padding:0!important;
}
header ul.mobile_menu ul.sub-menu li:first-child {
    border-top:none!important;
}
header ul.mobile_menu li a {
    padding:10px 10px!important;
    color:#7d7d7d!important;
    display:block;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 300ms;
    -webkit-transition: all 300ms; 
    -moz-transition: all 300ms; 
    -o-transition: all 300ms;	
}
header ul.mobile_menu li.active a {
    background: #1b1b1b;
    color:#7d7d7d!important;
}
header ul.mobile_menu li.active a:hover {
    color:#7d7d7d!important;
}
header ul.mobile_menu li a:hover {
    color:#1b1b1b!important;
    text-decoration: none;
    transition: all 300ms;
    -webkit-transition: all 300ms; 
    -moz-transition: all 300ms; 
    -o-transition: all 300ms;
}
header ul.mobile_menu ul.sub-menu {
    display: block !important;
    visibility: visible !important;
}
header ul.mobile_menu ul.sub-menu li a {
    text-transform: none;
}

/* Content */
section {
    padding: 70px 0 90px 0px;
}
.welcome-txt blockquote {
    color: #b0b0b0;
    font-style: italic;
    border-left: none;
    padding: 0px;
    margin: 0 0 15px 0px;
}
.welcome-txt blockquote cite {
    margin: 10px 0 0 0px;
    font-style: italic;
    display: inline-block;
}
.welcome-txt blockquote em {
    font-family: arial;
    color: #3a3a3a;
    font-size: 90px;
    font-weight: 700;
    float: left;
    display: inline-block;
    margin: 30px 20px -20px -10px;
    padding: 0px;
}
.welcome-txt img {
    margin-right: 30px;
}
.our-team {
    position: relative;
    margin-bottom: 30px;
}
.carousel-control {
    background: none;
    margin-top: 0px;
}
.carousel-previous,
.carousel-next {
    width:9px!important;
    height:16px; 
    padding:0!important;
    display:block; 
    position:absolute!important;
    border:none!important; 
    cursor:pointer;  
    top:-36px!important; 
    left:auto!important;
    border-radius:0!important;
    opacity: 1!important; 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)!important;		
    transition: background-color 300ms; 
    -webkit-transition:background-color 300ms; 
    -moz-transition:background-color 300ms; 
    -o-transition:background-color 300ms;	
}
.carousel-previous:hover,
.carousel-next:hover {
    opacity: 0.7 !important; 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70) !important;
    transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
}
.carousel-previous {
    right: 26px !important;
}
.carousel-next {
    right: 0px !important;
}
.carousel-previous.disabled,
.carousel-next.disabled {
    cursor:default !important;
    opacity: 0.2 !important; 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20) !important;
}
.our-team ul {
    margin: 5px 0 0 0px;
    list-style: none;
}
.our-team ul li:before { 
    content:''!important; 
    margin:0!important; 
    padding:0!important
}
.our-team ul li {
    display:inline-block;
    float:left;
    padding:0px 0;
    width: 300px;
    text-align:center;
}
.our-team ul li:last-child {
    width: 270px;
}
.our-team .item {
    width: 270px;
}
.our-team .item em {
    color: #b0b0b0;
    font-size: 17px;
}
.our-team .item .description {
    background-color: #dadada;
    padding: 15px 20px;
    margin-top: 10px;
}
.our-team ul.socials {
    margin: 0px;
    padding: 5px 0px;
    list-style: none;
}
.our-team ul.socials li {
    padding: 0px;
    margin: 0px;
    float: none;
    width: auto;
}
.our-team ul.socials li a {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #fff;
}
.our-team ul.socials li a:hover {
    background-color: #ebebeb;
    transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -o-transition: background-color 300ms;
}
.ico-fb {
    background: url("../images/icon-fb.png") 10px 12px no-repeat;
}
.ico-tumblr {
    background: url("../images/icon-tumblr.png") 10px 12px no-repeat;
}
.ico-twitter {
    background: url("../images/icon-twitter.png") 10px 12px no-repeat;
}

.our-partners {
    position: relative;
}
.our-partners ul {
    margin: 0px;
    list-style: none;
}
.our-partners ul li {
    display: inline-block;
    float: left;
    width: 240px;
}
.our-partners ul li:last-child {
    width: 210px;
}
.our-partners ul li a {
    width: 210px;
    height: 98px;
    display: block;
    background-color: #dadada;
}
.our-partners ul li a:hover {
    background-color: #fff;
    transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -o-transition: background-color 300ms;
}

.btn2top {
    background: url("../images/btn2top.png") no-repeat left bottom #2a2a2a;
    bottom: 40px;
    display: none;
    height: 40px;
    position: fixed;
    right: 40px;
    transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -o-transition: background-color 300ms;	
    width: 40px;
}
.btn2top:hover {
    background: url("../images/btn2top.png") no-repeat left top #dadada;
}

/* Footer */
footer {
    background-color: #1f1f1f;
    color: #575757;
    font-size: 13px;
}
footer .tel {
    width: 163px;
    float: left;
    min-height: 30px;
}
footer .tel p {
    background: url("../images/icon-tel.png") left 4px no-repeat;
    margin: 10px 0 0 21px;
    padding: 0 0 0 25px;
}
footer .copyright {
    width: 320px;
    float: left;
    min-height: 30px;
}
footer .copyright p {
    border-left: solid 1px #363636;
    padding: 10px 0 10px 24px;
    margin: 0px;
}
footer .footer-socials {
    width: 360px;
    float: right;
    min-height: 30px;
}
footer .footer-socials ul {
    float: right;
    display: block;
    margin: 0px;
    list-style: none;
}
footer .footer-socials li {
    border-left: solid 1px #363636;
    padding: 13px 10px 10px 12px;
    float: left;
    line-height: 17px;
}
footer .footer-socials li a {
    height: 17px;
    width: 17px;
    display: inline-block;
    float: right;
}
footer .footer-socials li a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
footer .footer-socials .ico-social-facebook {
    background: url("../images/icon-small-fb.png") left top no-repeat;
}
footer .footer-socials .ico-social-twitter {
    background: url("../images/icon-small-twitter.png") left top no-repeat;
    width: 20px;
}
footer .footer-socials .ico-social-flikr {
    background: url("../images/icon-small-flikr.png") left top no-repeat;
}
footer .footer-socials .ico-social-dribble {
    background: url("../images/icon-small-dribble.png") left top no-repeat;
}
footer .footer-socials .ico-social-instagram {
    background: url("../images/icon-small-instagram.png") left top no-repeat;
}
footer .footer-socials .ico-social-youtube {
    background: url("../images/icon-small-youtube.png") left top no-repeat;
}
footer .footer-socials .ico-social-vimeo {
    background: url("../images/icon-small-vimeo.png") left top no-repeat;
}
footer .footer-socials .ico-social-tumblr {
    background: url("../images/icon-small-tumblr.png") left top no-repeat;
}

/* *** tipsy.css *** */
.tipsy { font-size: 9px; color: #fff; position:absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #474747; max-width: 200px; padding: 5px 8px 7px 8px; text-align: center; font-size:13px; text-transform:none; line-height:13px}

/* Rounded corners */
.tipsy-inner { /*border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; */}
  
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #474747; }
.tipsy-arrow-s { border-top-color: #474747;}
.tipsy-arrow-s .tipsy-inner {color:#474747;}
.tipsy-arrow-e { border-left-color: #474747; }
.tipsy-arrow-w { border-right-color: #474747; }
  
.tipsy-e { margin-left:-10px}
.tipsy-w { margin-left:10px}  
  
.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-s {margin-top:-3px}
.tipsy-n {margin-top:7px}

/* Responsive styles */
@media only screen and (min-width: 1200px) {
    
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .our-team ul li {
        width: 240px;
    }
    .our-team ul li:last-child {
        width: 220px;
    }
    .our-team .item {
        width: 220px;
    }
    .our-team ul.socials li {
        width: auto;
    }
    .our-partners ul li {
        width: 190px;
    }
    .our-partners ul li:last-child {
        width: 190px;
    }
    .our-partners ul li a {
        width: 180px;
        height: 90px;
    }
}
@media only screen and (min-width: 766px) and (max-width: 959px) {
    body {
        padding-top: 0px;
    }
    section {
        padding: 20px 0 30px 0px;
    }
    h2 {
        padding-top: 0px;
    }
    h1, h2, h3 {
        line-height: 25px;
    }
    .navbar .brand {
        width: 280px;
        padding: 35px 0 0 15px;
    }
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0px;
    }
    .nav-collapse, .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
    }
    .navbar .btn-navbar {
        display: none !important;
    }
    .nav-collapse .nav > li {
        float: left !important;
    }
    .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #7d7d7d !important;
        font-weight: normal !important;
        margin-bottom: 0px;
        text-transform: none;
        padding: 40px 15px;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
    }
    .navbar-inverse .nav-collapse .nav > li > a:focus,
    .navbar-inverse .nav-collapse .nav > li > a:hover {
        background-color: #2a2a2a;
        color: #7d7d7d;
        transition: all 300ms; 
        -webkit-transition:all 300ms; 
        -moz-transition:all 300ms; 
        -o-transition:all 300ms;
    }
    .navbar-inverse .nav-collapse .nav .active > a,
    .navbar-inverse .nav-collapse .nav .active > a:hover,
    .navbar-inverse .nav-collapse .nav .active > a:focus {
        color: #7d7d7d;
        background-color: #2a2a2a;
    }
    header nav ul.sub-menu {
        width: 140px;
        margin-left:-70px;
    }
    header nav ul.sub-menu:before {
        left: 66px;
    }
    header nav ul.sub-menu li ul.sub-menu {
        left: 140px !important;
    }
    header nav ul.sub-menu li a {
        font-size: 13px;
    }
    .carousel-previous, .carousel-next {
        top: -30px !important;
    }
    .our-team {
        margin-bottom: 10px;
    }
    .our-team ul li {
        width: 185px;
    }
    .our-team ul li:last-child {
        width: 170px;
    }
    .our-team .item {
        width: 170px;
    }
    .our-team .item .description {
        padding: 15px 10px;
        min-height: 140px;
    }
    .our-team ul.socials li {
        width: auto;
    }
    .our-partners ul li {
        width: 146px;
    }
    .our-partners ul li:last-child {
        width: 146px;
    }
    .our-partners ul li a {
        width: 140px;
        height: 68px;
    }
    footer {
        margin-left: -20px;
        margin-right: -20px;
    }
    @-moz-document url-prefix() {
        footer {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    footer .footer-socials {
        width: 330px;
    }
    footer .tel {
        width: 140px;
    }
    footer .copyright {
        width: 290px;
    }
    footer .tel p {
        margin: 10px 0 0 11px;
    }
    footer .copyright p {
        padding: 10px 0 10px 15px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 765px) {
    body {
        padding-top: 0px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        padding-top: 0px;
    }
    h1, h2, h3 {
        line-height: 25px;
    }
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
    .navbar .brand {
        padding: 31px 0 0 20px;
    }
    section {
        padding: 20px 0 30px 0px;
    }
    .carousel-previous, .carousel-next {
        top: -30px !important;
    }
    .our-team {
        margin-bottom: 10px;
    }
    .our-team ul li {
        width: 450px;
    }
    .our-team ul li:last-child {
        width: 450px;
    }
    .our-team .item {
        width: 450px;
    }
    .our-team .item img {
        width: 100%;
    }
    .our-team .item .description {
        min-height: 110px;
    }
    .our-team ul.socials li {
        width: auto;
    }
    .our-partners ul li {
        width: 225px;
    }
    .our-partners ul li:last-child {
        width: 225px;
    }
    .our-partners ul li a {
        width: 215px;
    }
    footer {
        margin-left: -20px;
        margin-right: -20px;
    }
    footer .footer-socials {
        display: none;
    }
    footer .tel {
        width: 145px;
    }
    footer .copyright {
        width: 290px;
        float: right;
    }
    footer .tel p {
        margin: 10px 0 0 11px;
    }
    footer .copyright p {
        padding: 10px 0 10px 15px;
    }
}
@media only screen and (max-width: 459px) {
    body {
        padding-top: 0px;
    }
    h1, h2, h3 {
        line-height: 25px;
    }
    h1 {
        font-size: 35px;
        line-height: 35px;
    }
    h2 {
        padding-top: 0px;
        font-size: 20px;
    }
    .navbar-inner {
        min-height: 70px;
    }
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
    .navbar .btn {
        margin-top: 20px;
    }
    .navbar .btn-navbar {
        margin-right: 10px;
    }
    .navbar .brand {
        padding: 23px 0 0 10px;
        width: 70%;
    }
    section {
        padding: 20px 0 30px 0px;
    }
    .welcome-txt img {
        margin-right: 0px;
        margin-bottom: 20px;
        float: none;
        width: 100%;
    }
    .carousel-previous, .carousel-next {
        top: -30px !important;
    }
    .our-team {
        margin-bottom: 10px;
    }
    .our-team ul li {
        width: 280px;
    }
    .our-team ul li:last-child {
        width: 280px;
    }
    .our-team .item {
        width: 280px;
    }
    .our-team .item img {
        width: 100%;
    }
    .our-team ul.socials li {
        width: auto;
    }
    .our-partners ul li {
        width: 280px;
    }
    .our-partners ul li:last-child {
        width: 280px;
    }
    .our-partners ul li a {
        width: 280px;
        height: 128px;
    }
    .our-partners ul li a img {
        width: 100%;
    }
    footer {
        margin-left: -20px;
        margin-right: -20px;
    }
    footer .footer-socials {
        display: none;
    }
    footer .copyright {
        display: none;
    }
    footer .tel {
        float: none;
    }
    footer .tel p {
        margin: 10px 21px 0px 21px;
        padding-bottom: 10px;
    }
}
